*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: white;

}

.img{
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
#contenedor{
    height: 1200px;
    width: 900px;
    margin: 0 auto;
    background-color: white;
}

.grid-aside{
    
    gap: 1em;

}

.boton {
    font-family: arial;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 0px gray;
    padding: 6px 20px;
    border: 2px solid black;
    background: gray;
    background: linear-gradient(to top, gray, gray);
    border-radius: 3em;
    width: 30%;
    text-decoration: none;
  }


#contenido{
    background-color: #dee5de;
    
}

#encabezado{
    color: #BADA55;
    text-align: center;
    background-color: #B58A69;
    margin-top: 1em;
}
#header{
    text-align: center;
    font-size: 32px;
    font-family: impact;
}

#fueraSeccion{
    background-color: #d7d7cb;

}

#menu{
    color: #0000;
    font-size: 18px;    
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    
}

#imagen{
    display: flex;
    gap: 2em;
    padding: 5em;
}


li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;

}

li a{
    text-decoration: none;
    list-style: none;
}

header{
    text-align: center;
    font-size: 40px;
    font-family: impact;
}
p{
    font-family: arial;
    font-size: 20px;
    justify-content: center;
}

img{
    height: 220px;
    width: 250px;
    padding: 1em;
}

li{
    display: inline;
    padding: 50px;
    font-size: 18px;
}

footer{
    text-align: center;
    background-color: #5E5E4A;
    font-size: 14px;
    height: 2%;
    color: white;
}
a{
    text-decoration: none;
    list-style: none;
}